@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.center {
  align-self: center;
}

.brand {
  cursor: pointer;
}

.active {
  color: #ec5242 !important;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  text-align: justify;
}

@media screen and (max-width: 768px) {
  #header {
    display: none;
  }

  .welcome {
    margin-bottom: 10px;
    color: #ec5242;
    font-size: 20px;
    font-weight: 400;
  }

  #headline {
    padding: 15px 20px;
    background: url("./images/background.png");
    display: flex;
    flex-direction: column;
    align-items: start;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 15px 300px rgba(231, 224, 224, 0.7) inset;
  }

  .headline-title {
    margin-bottom: 15px;
    font-size: 50px;
    font-weight: 700;
    color: transparent;
    -webkit-background-clip: text;
    background-image: url("./images/title-background.jpeg");
  }

  #hambuger {
    margin-bottom: 30px;
    cursor: pointer;
  }

  .headline-description {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #fff;
    margin-bottom: 10px;
    color: #272a31;
    text-align: justify;
  }

  .headline-date {
    margin-bottom: 10px;
    color: #606060;
    font-size: 30px;
    font-weight: 700;
  }

  .headline-place {
    margin-bottom: 100px;
    color: #606060;
    font-size: 20px;
  }

  #program {
    background-image: url("./images/program-background.jpg");
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .program-main-title {
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 400;
  }

  .line {
    display: block;
    width: 49px;
    height: 4px;
    border: 0;
    border-top: 4px solid #be473f;
    padding: 0;
    text-align: center;
    margin-bottom: 40px;
  }

  .program-card {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px 15px;
    background-color: rgba(255, 255, 255, 0.2);
    height: 120px;
    margin-bottom: 50px;
  }

  .program-title {
    color: #ec5242;
  }

  .program-image {
    width: 100px;
  }

  .program-main-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .program-button {
    background-color: #ec5242;
    padding: 20px 15px;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-bottom: 50px;
    width: 300px;
    height: 100px;
    font-size: 20px;
    font-weight: 400;
  }

  #artist {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
  }

  .artist-main-title {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .artist-image {
    width: 150px;
  }

  .artist-card {
    display: flex;
    align-items: stretch;
    gap: 20px;
    padding: 10px;
    margin-bottom: 20px;
  }

  .artist-name {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: calc(1.3rem + 0.6vw);
  }

  .artist-title {
    font-size: 14px;
    color: #ff6d4f;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  .artist-breif {
    text-align: justify;
    color: #868686;
    font-size: 11px;
  }

  #about-partner,
  #partner {
    background-color: #272a31;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .partner-main-title {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }

  .partner-image {
    width: 300px;
  }

  .partner-name {
    align-self: center;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  #footer {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 30px 20px 20px 20px;
  }

  .footer-image {
    width: 130px;
  }

  .footer-description {
    align-self: center;
  }

  .about-footer-description {
    display: none;
  }

  #about-footer {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 30px 20px 20px 20px;
  }

  #about {
    padding: 15px 20px;
    background: url("./images/background.png");
    display: flex;
    flex-direction: column;
    align-items: start;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 15px 300px rgba(231, 224, 224, 0.7) inset;
  }

  .about-text {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #272a31;
    margin-bottom: 10px;
  }

  .about-mail {
    align-self: center;
    margin-bottom: 100px;
    color: #272a31;
    text-decoration: none;
  }

  #logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }

  .logo-img-box {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #606060;
    margin-bottom: 50px;
    padding: 0 20px;
  }

  .logo-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .logo-description {
    text-align: center;
    margin-bottom: 30px;
  }

  .logo-image {
    margin-bottom: 50px;
    align-self: center;
    margin-top: 30px;
  }

  #concert {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .concert-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .concert-description {
    text-align: center;
    margin-bottom: 30px;
    color: #212529;
  }

  .concert-card-color {
    background-color: rgba(236, 82, 66, 0.7);
    padding: 100px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    backdrop-filter: blur(5px);
  }

  .concert-card {
    color: #fff;
    margin-bottom: 20px;
    background-image: url("./images/varcamp-concert2.jpg");
    background-size: cover;
  }

  .concert-card-title {
    font-weight: 700;
    font-size: 25px;
  }

  .concert-card-description {
    font-weight: 400;
  }
}

@media screen and (min-width: 768px) {
  #header {
    position: fixed;
    background-color: #fff;
    width: 100%;
    right: 0;
    top: 0;
    left: 0;
    display: block;
    z-index: 2;
  }

  .welcome {
    margin-bottom: 10px;
    color: #ec5242;
    font-size: 20px;
    font-weight: 400;
    margin-top: 200px;
  }

  #navbar {
    padding: 10px 200px 10px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }

  #menu {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  .menu-link {
    color: #8d8d8d;
  }

  .menu-button {
    width: 180px;
    height: 50px;
    padding: 10px;
    text-align: center;
    border: 5px solid #ee4c32;
    color: #ee4c32;
    cursor: pointer;
  }

  .main-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }

  .mini-nav {
    background-color: #3e3e3e;
    padding: 3px 0 5px 0;
  }

  .mini-nav-list {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
    margin-right: 25px;
  }

  .mini-nav-list-link {
    color: #f4f4f4;
    font-size: 10px;
  }

  .brand {
    background-color: #606060;
    padding: 10px 20px;
    display: inline-block;
    width: 200px;
  }

  .nav-image {
    width: 130px;
  }

  #headline {
    padding: 15px 200px 15px 200px;
    background: url("./images/background.png");
    display: flex;
    flex-direction: column;
    align-items: start;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 15px 300px rgba(231, 224, 224, 0.7) inset;
  }

  .headline-title {
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 700;
    color: transparent;
    -webkit-background-clip: text;
    background-image: url("./images/title-background.jpeg");
  }

  #hambuger {
    display: none;
  }

  .headline-description {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #fff;
    margin-bottom: 20px;
    color: #272a31;
    text-align: justify;
    width: 65%;
  }

  .headline-date {
    margin-bottom: 15px;
    color: #606060;
    font-size: 30px;
    font-weight: 700;
  }

  .headline-place {
    margin-bottom: 150px;
    color: #606060;
    font-size: 20px;
  }

  #program {
    background-image: url("./images/program-background.jpg");
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .program-main-title {
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 400;
  }

  .line {
    display: block;
    width: 49px;
    height: 4px;
    border: 0;
    border-top: 4px solid #be473f;
    padding: 0;
    text-align: center;
    margin-bottom: 40px;
  }

  .program-main-card {
    display: flex;
    gap: 10px;
    padding: 20px;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
  }

  .program-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding: 20px 25px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 15%;
    margin-bottom: 50px;
  }

  .program-title {
    color: #ec5242;
  }

  .program-image {
    width: 65px;
    height: 65px;
  }

  .program-button {
    display: none;
  }

  .program-link {
    margin-top: -30px;
    color: #bdbdc5;
    font-size: 17px;
    margin-bottom: 50px;
  }

  #artist {
    display: flex;
    padding: 10px 100px 10px 100px;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
  }

  .artist-main-title {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .artist-image {
    width: 150px;
  }

  .artist-main-card {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }

  .artist-card {
    display: flex;
    align-items: stretch;
    gap: 20px;
    padding: 10px;
    margin-bottom: 20px;
  }

  .artist-name {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: calc(1.3rem + 0.6vw);
  }

  .artist-title {
    font-size: 14px;
    color: #ff6d4f;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  .artist-breif {
    text-align: justify;
    color: #868686;
    font-size: 11px;
    width: 300px;
  }

  #partner {
    background-color: #272a31;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .partner-main-title {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }

  .partner-image {
    width: 300px;
  }

  .partner-name {
    align-self: center;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  #footer {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 30px 200px 20px 200px;
  }

  .footer-image {
    width: 130px;
  }

  .footer-description {
    align-self: center;
  }

  .about-text {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #272a31;
    margin-bottom: 10px;
  }

  #about {
    padding: 15px 0;
    background: url("./images/background.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 15px 300px rgba(231, 224, 224, 0.7) inset;
  }

  .about-description {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #fff;
    margin-bottom: 20px;
    color: #272a31;
    text-align: justify;
    width: 70%;
  }

  .about-mail {
    align-self: center;
    margin-bottom: 200px;
    color: #272a31;
    text-decoration: none;
  }

  #about-footer {
    background-color: #2e2e2e;
    color: #fff;
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 30px 200px;
  }

  #logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }

  .logo-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .logo-description {
    text-align: center;
    margin-bottom: 30px;
  }

  .logo-image {
    margin-bottom: 50px;
    align-self: center;
    margin-top: 30px;
  }

  .logo-img-box {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #606060;
    margin-bottom: 50px;
    padding: 0 50px;
  }

  #concert {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .concert-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .concert-description {
    text-align: center;
    margin-bottom: 30px;
    color: #212529;
  }

  .concert-main-card {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .concert-card-color {
    background-color: rgba(236, 82, 66, 0.7);
    padding: 100px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    backdrop-filter: blur(5px);
  }

  .concert-card {
    color: #fff;
    margin-bottom: 20px;
    background-image: url("./images/varcamp-concert2.jpg");
    background-size: cover;
  }

  #about-partner {
    display: none;
  }

  .concert-card-title {
    font-weight: 700;
    font-size: 25px;
  }

  .concert-card-description {
    font-weight: 400;
  }
}
